#item-container {padding: 50px;}
#container, #container > .ui.grid {width: 100%;}

.music {
  height: 120px;
}

.movie {
  height: 260px;
}

.youtube {
  border: none !important;
  border-radius: 0px !important;
  box-shadow: 0px 0px 0px 0px !important;
}

.item-loader {height: 120px;}

.ui.teal.label.event {
  width: 98%;
  cursor: pointer;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  -webkit-transition-property: background, color, border;
     -moz-transition-property: background, color, border;
       -o-transition-property: background, color, border;
          transition-property: background, color, border;
  -webkit-transition-duration: 0.1s;
     -moz-transition-duration: 0.1s;
       -o-transition-duration: 0.1s;
          transition-duration: 0.1s;
  -webkit-transition-timing-function: linear;
     -moz-transition-timing-function: linear;
       -o-transition-timing-function: linear;
          transition-timing-function: linear;
}

.ui.teal.label.event:hover {
  background: white !important;
  color: #00b5ad !important;
  border: 1px solid #00b5ad !important;
}

#hours-list, #feed-list {
  margin-top: 100px;
  margin-bottom: 100px;
}

#hours-table.ui.celled.table tr td {
  height: 46px !important;
}

#hours-table .row {
  height: 46px;
}

#hours-table .column {
  z-index: 999;
}

#hour-marker {
  height: 2px;
  width: 80%;
  background: #CC7A71;
  position: absolute;
}

.fixed {position: fixed !important;}

#calendar-grid {background: white;}

#calendar-grid .column {
  padding: 0;
}

#calendar-grid .row {
  min-height: 35px;
  line-height: 35px;
}

.ui.red.basic.button.active-today {
  box-shadow: none !important;
}

.day.column {
  cursor: pointer;
}

.day.column > div.label {
  margin-top: 5px;
}

.dayofweek.row > .column, .day.column {
  text-align: center;
}

#menu {
  margin-top: 100px;
}

#calendar {
  height: 50%;
}

#quickevent, #musicfinder {
  width: 400px;
  z-index: 9999;
}

.left {
  float: left;
}

.content.item-content {max-width: 65%;}

.audioplayer {
  position: fixed !important;
  width: 100%;
  bottom: 0;
  left: 0;
  background-color: #f2f2f2;
  border-top: 1px solid rgba(0, 0, 0, .15);
  padding: 15px 200px !important;
}

.audioplayer > .grid {width: 100%;}

